*{
    margin: 0;
    padding: 0;
}
.Aboutus-main-dash{
    background-image: url(../public/aboutusbg.jpg);
    background-size: cover;
   height: 500px;
    -webkit-background-size: cover ;
    background-color:  rgb(68, 68, 68);
    background-blend-mode: multiply;
}
.aboutusheader{
    text-align: center;
    line-height: 250px;
}
.aboutusheader1{
 font-size: 40px;
 color: rgb(240, 211, 200);
}
.aboutusmid{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.aboutuslefttsection{
   margin: 20px; 
   width: 40%;
}
.aboutusleftheader{
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
.aboutusleftectionimg{
   width: 270px;
   margin-top: 60px;
   margin-right: 140px;
}
.ourVision{
    padding:0 50px;
    width: "50%";
}
.ourServices{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: "50%";
}
.servicesTital{
    padding: 30px;
    font-size: 30px;
}
.servicesheading{
    font-size: 20;
    padding: 10px 0 20px 0;
}
